{% extends "base.html" %}

{% block rowOneContent %}
<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1 class="mycss2">Who We Are</h1>
      <p class="mycss3" style="margin-top: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc congue nisi vitae suscipit tellus mauris a diam. Consectetur a erat nam at lectus. Sem integer vitae justo eget magna fermentum. Massa tempor nec feugiat nisl pretium. Pharetra diam sit amet nisl suscipit adipiscing bibendum est ultricies. Fusce id velit ut tortor pretium viverra. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Vestibulum lectus mauris ultrices eros in. Et ultrices neque ornare aenean. Scelerisque felis imperdiet proin fermentum leo vel orci. </p>
      <h2 class="fw-bold mycss3" style="margin-top: 100px;">Meet The team</h2>           
      <p class="mycss3" style="margin-top: 20px;">Lacus laoreet massa convallis iaculis euismod. Eu hac mollis rhoncus. Nibh semper sagittis ut commodo ligula? Sollicitudin lobortis amet praesent facilisi tempus congue sollicitudin molestie quis bibendum nulla. Non odio euismod lacinia at quis risus sed. Lobortis mattis aliquam faucibus purus in. In massa tempor nec feugiat nisl pretium fusce. Nisl vel pretium lectus quam.</p>
    </div>
  </div>
  <!-- Row for images -->
  <div class="row">
    <div class="col-md-4">
      <img src="/static/images/image.png" class="img-fluid" alt="Image 1">
    </div>
    <div class="col-md-4">
      <img src="/static/images/image.png" class="img-fluid" alt="Image 2">
    </div>
    <div class="col-md-4">
      <img src="/static/images/image.png" class="img-fluid" alt="Image 3">
    </div>
  </div>
</div>
{% endblock %}