{% extends "base.html" %}

{% block rowOneContent %}
<div class="footerText bigger-text2">User Contact Messages</div>
{% endblock %}

{% block rowTwoColOneContent %}
    <div class="footerText bigger-text">{{ name }}</div>
{% endblock %}

{% block rowTwoColTwoContent %}
<div class="container-fluid">
    {% for message in messages %}
    <div class="row message-row">
        <div class="col-2 bigger-text">{{ message.name }}</div>
        <div class="col-5 bigger-text">{{ message.message }}</div>
        <div class="col-3 bigger-text">{{ message.dateSubmitted }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block rowTwoColThreeContent %}
<div class="container-fluid">
    {% for message in messages %}
    <div class="row message-row">
        <div class="col-2 bigger-text">{{ message.email }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block rowThreeContent %}
<div>Copyright 2024.</div>
{% endblock %}







