{% extends "base.html" %}


{% block rowOneContent %}




{% endblock %}


{% block rowTwoColOneContent %}
<p class="mycss5" style="margin-top: 100px;">In pharetra lacus quis. Quam iaculis facilisi parturient vitae, nam nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>          
<p class="mycss5" style="margin-top: 20px;">Blandit  maecenas cum libero dignissim libero tristique purus ornare. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum .</p>
{% endblock %}




{% block rowTwoColTwoContent %}
<a href="/contact">
<img src="/static/images/Book.jpg" alt="Book Now" style="width: 50%; position: absolute; top: 300px; right: 50px;">
</a>
{% endblock %}


{% block rowTwoColThreeContent %}


<p class="fw-bold mycss3" style="font-size: 35px; color: white; position: absolute; top: 570px; right: 270px;"></p>
   


{% endblock %}




{% block rowThreeContent %}
<p class="fw-light mycss4" style="margin-top: 100px; margin-left: 40px;">Copyright @2024</p>
{% endblock %}



