{% extends 'base.html' %}

{% block rowTwoColOneContent %}
    <div class="footerText" style="font-size: 18px;">
        Copyright 2024.
    </div>
{% endblock %}

{% block rowTwoColTwoContent %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p style="font-size: 25px;">
            Resetting Password for user: <span class="focus">{{ user.email_address }}</span>
        </p>
        <p style="font-size: 25px;">
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=32) }}<br>
            {% for error in form.new_password.errors %}
                <span style="color: red; font-size: 16px;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

{% block cellContent3 %}
    Footer
{% endblock %}

