{% extends "base.html" %}

{% block rowOneContent %}
<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1 class="mycss2">Photo Gallery</h1>
      <p class="fw-bold mycss6" style="margin-top: 30px;">Check Out A Handful Of Our Amazing Photos!</p>
    </div>
  </div>
</div>
{% endblock %}

{% block rowTwoColOneContent %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="/static/images/Ai1Final.jpg" alt="Photo 1" class="img-fluid">
    </div>
    <div class="col-md-6">
      <img src="/static/images/Ai6Final.jpg" alt="Photo 2" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}

{% block rowTwoColTwoContent %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="/static/images/Ai3Final.jpg" alt="Photo 3" class="img-fluid">
    </div>
    <div class="col-md-6">
      <img src="/static/images/Ai4Final.jpg" alt="Photo 4" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}

{% block rowTwoColThreeContent %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="/static/images/Ai5Final.jpg" alt="Photo 5" class="img-fluid">
    </div>
    <div class="col-md-6">
      <img src="/static/images/Ai2Final.jpg" alt="Photo 6" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}